// app global css in SCSS form


$t-dark : #040404;
$t-light: #e0e0e0;

.text-brand-1 {
  color: $t-light !important;
}
.bg-brand-1 {
  background: #0e0e0e !important;
}

.text-brand-2 {
  color: $t-dark !important;
}

.bg-brand-2 {
  background: #efefef !important;
}

.text-brand-3 {
  color: $t-light !important;
}

.bg-brand-3 {
  background: #A70b00 !important;
}

.text-brand-4 {
  color: $t-light !important;
}

.bg-brand-4 {
  background: #6D0B1A !important;
}

.text-brand-5 {
  color: $t-dark !important;
}

.bg-brand-5 {
  background: #FF8657 !important;
}

.text-brand-6 {
  color: $t-dark !important;
}

.bg-brand-6 {
  background: #F2C242 !important;
}

.text-brand-7 {
  color: $t-light !important;
}

.bg-brand-7 {
  background: #542405 !important;
}

.text-brand-8 {
  color: $t-dark !important;
}

.bg-brand-8 {
  background: #9DA4B6 !important;
}

.text-brand-9 {
  color: $t-dark !important;
}

.bg-brand-9 {
  background: #EDA6C6 !important;
}

.text-brand-10 {
  color: $t-light !important;
}

.bg-brand-10 {
  background: #DB4486 !important;
}

.text-brand-11 {
  color: $t-light !important;
}

.bg-brand-11 {
  background: #B47A88 !important;
}

.text-brand-12 {
  color: $t-dark !important;
}

.bg-brand-12 {
  background: #B98BB9 !important;
}

.text-brand-13 {
  color: $t-light !important;
}

.bg-brand-13 {
  background: #370869 !important;
}

.text-brand-14 {
  color: $t-dark !important;
}

.bg-brand-14 {
  background: #CFB1A5 !important;
}

.text-brand-15 {
  color: $t-light !important;
}

.bg-brand-15 {
  background: #072887 !important;
}

.text-brand-16 {
  color: $t-dark !important;
}

.bg-brand-16 {
  background: #87AFD1 !important;
}

.text-brand-17 {
  color: $t-dark !important;
}

.bg-brand-17 {
  background: #7ECED5 !important;
}

.text-brand-18 {
  color: $t-light !important;
}

.bg-brand-18 {
  background: #0C727F !important;
}

.text-brand-19 {
  color: $t-dark !important;
}

.bg-brand-19 {
  background: #C5DA57 !important;
}

.text-brand-20 {
  color: $t-light !important;
}

.bg-brand-20 {
  background: #1C6934 !important;
}

.text-brand-21 {
  color: $t-light !important;
}

.bg-brand-21 {
  background: #17494A !important;
}

